@charset "GB18030";

* {
    outline: 0 none;
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, Sans-serif !important;
}

body {
    margin: 0;
}

:focus {
    outline: 0 none;
}

a {
    text-decoration: none;
}

.navbar-inverse {
    background-color: #3193cf;
    z-index: 100;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar-inverse ul {
    list-style-type: none;
}

.navbar-nav {
    margin-left: 20px;
}

.navbar-nav > li > a {
    color: #F2F4F5 !important;
    -webkit-font-smoothing: subpixel-antialiased;
}

.navbar-nav > li > a:hover, .navbar-nav li.selected {
    background-color: #1582c7 !important;
    color: #FFF !important;
}

.navbar-nav li.current {
    _display: inline-block;
    background-color: #1582c7;
}

.navbar-form {
    margin: 7px -15px !important;
}

.rz-top-search-input {
    width: 350px !important;
    background: none repeat scroll 0% 0% #E1EAF2;
}

.rz-top-search-input:focus {
    background: none repeat scroll 0% 0% #FFF;
}

.rz-publish-btn {
    width: 80px;
    margin: 12px 15px 0px 0px;
    padding: 0px;
    float: right;
}

.rz-publish-btn a {
    display: block;
    width: 80px;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    background-color: #1582c7;
    text-align: center;
    color: #FFF;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
}

.rz-publish-btn a:hover {
    background-color: #127fb6;
}

.rz-top-nav-userinfo, .rz-top-nav-userinfo > a, .rz-top-nav-userinfo > a:after {
    position: relative;
    height: 50px !important;
    line-height: 50px;
    text-indent: 46px;
    color: #FFF;
    text-decoration: none;
    border-top: 0px none;
    background: none repeat scroll 0% 0% transparent;
    box-shadow: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.container {
    width: 990px;
    margin: 0 auto;
}

.form-control:focus {
    color: #333;
    border-color: #999;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.clearfix {
    zoom: 1;
}

.color999 {
    color: #999;
}

.mt51 {
    margin-top: 51px;
}

.mt100 {
    margin-top: 100px;
}

.mb80 {
    margin-bottom: 80px;
}

.register-form {
    width: 390px;
    line-height: 1.6;
    position: relative;
}

.register-aside {
    position: absolute;
    right: -330px;
    width: 252px;
    color: #666;
}

.slug {
    margin: 15px 0px;
    color: #666;
    font-size: 18px;
    font-weight: normal;
}

form > p {
    margin: 24px 0;
}

.footer {
    border-top: 1px solid #eee;
    padding: 40px 0;
    color: #888;
}

.footer a {
    color: #888;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.footer .site-link {
    margin: 0 0 40px
}

.footer .site-link dt {
    margin-bottom: 20px;
    color: #333
}

.footer .site-link dd {
    margin: 5px 0;
    font-size: 13px
}

.footer .copyright {
    text-align: center;
    font-size: 13px;
    margin-top: 10px;
}

.i-feed, .i-google, .i-twitter, .i-github, .i-weibo, .i-facebook, .i-qq, .i-douban, .i-taobao, .i-linkedin, .i-sf {
    width: 16px;
    height: 16px;
    background: url('/Public/Image/Application/login-icons.png') repeat scroll 0% 0% transparent;
    text-align: left;
    text-indent: -9999em;
    display: inline-block;
    vertical-align: text-bottom;
}

.i-google-big, .i-github-big, .i-weibo-big, .i-qq-big, .i-baidu-big {
    width: 24px;
    height: 24px;
    background: url('/Public/Image/Application/login-icons.png');
    text-align: left;
    text-indent: -9999em;
    display: inline-block;
    vertical-align: text-bottom
}

.i-google {
    background-position: 0 -340px
}

.i-twitter {
    background-position: 0 -324px
}

.i-github {
    background-position: 0 -184px
}

.i-weibo {
    background-position: 0 -200px
}

.i-facebook {
    background-position: 0 -494px
}

.i-qq {
    background-position: 0 -120px
}

.i-douban {
    background-position: 0 -402px
}

.i-taobao {
    background-position: 0 -448px
}

.i-linkedin {
    background-position: 0 -478px
}

.i-sf {
    background-position: 0 -386px
}

.i-google-big {
    background-position: 0 -160px
}

.i-github-big {
    background-position: 0 -136px
}

.i-weibo-big {
    background-position: 0 -48px
}

.i-qq-big {
    background-position: 0 -24px
}

.i-baidu-big {
    background-position: 0 -72px
}

.auth-login {
    margin-top: 15px;
}

.auth-big, .auth-small {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px
}

.auth-big, .auth-small {
    display: inline-block;
    margin-right: 10px;
    border: 1px solid #CCC;
    border-bottom-color: #BBB;
    padding: 15px 18px;
    background-color: #FFF;
    font-size: 20px;
    line-height: 1;
    color: #666 !important;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12)
}

.auth-big:hover, .auth-small:hover {
    text-decoration: none;
    border-color: #999
}

.auth-big:active, .auth-small:active {
    background-color: #EEE
}

.auth-big i, .auth-small i {
    margin-right: 10px
}

.auth-small {
    margin-right: 5px;
    padding: 8px 10px;
    font-size: 14px
}

.auth-small i {
    margin-right: 6px
}

.more-arrow {
    display: inline-block;
    border: 10px solid #CCC;
    border-color: transparent transparent transparent #CCC;
    vertical-align: text-bottom
}

.more-arrow:hover {
    border-left-color: #357EBD
}

.sfid-login {
    margin-top: 40px;
    color: #999
}

.sfid-login p {
    display: inline-block;
    margin-right: 8px;
    width: 290px;
    vertical-align: middle
}

.sfid-login .remember {
    margin-top: -10px
}

.dropdown-item {
    display: none;
    position: absolute;
    padding: 5px 0 !important;
    width: 120px;
    right: 0;
    z-index: 3;
    border: 1px solid #CCC;
    border-top: 0;
    background: #FFF;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1)
}

.dropdown-item a {
    color: #666;
    display: block;
    padding: 0px 10px;
    height: 36px;
    line-height: 36px;
}

.dropdown-item a:hover, .dropdown-item a:active {
    background: #f0f0f0;
    color: #666;
    text-decoration: none;
}

.dropdown-item .hr {
    margin-top: 5px;
    border-top: 1px solid #EEE;
    padding-top: 5px
}
