@charset "GB18030";

.top-search-input {
    width: 350px !important;
}

.container {
    width: 990px;
    margin: 0 auto;
}

.clearfix {
    zoom: 1;
}

.color999 {
    color: #999;
}

.mt51 {
    margin-top: 51px;
}

.mt100 {
    margin-top: 100px;
}

.register-form {
    width: 390px;
    line-height: 1.6;
    position: relative;
}

form > p {
    margin: 24px 0;
}

.footer a {
    color: #888;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.footer .site-link {
    margin: 0 0 40px
}

.footer .site-link dt {
    margin-bottom: 20px;
    color: #333
}

.footer .site-link dd {
    margin: 5px 0;
    font-size: 13px
}

.footer .copyright {
    text-align: center;
    font-size: 13px;
    margin-top: 10px;
}